body {
    margin: 60px auto;
    width: 70%;
	background-image: url("tile.jpg");
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 1em;
    line-height: 0.9em;
    color: #333;
}
h1 {    font-size: 1.5em; }
h2 {	font-size: 1.2em }


img {    padding: 0px 20px 10px 0px; }
a {								
    text-decoration: none;
    color: #999;
}
a:hover {    text-decoration: underline; }


nav ul, footer ul {				
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {		
    display: inline;
    margin-right: 20px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {    list-style: none; }


table {
	border-collapse: collapse;
	width: 100%;
}
table, th, td {    border: 1px solid gray; }
th, td {
    padding: 9px;
	height: 30px;
	width: 50%;
}
th {    background-color: darkgray; }
tr:nth-child(even){background-color: #f2f2f2}