<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
				<li><a href="/projects">Research and Projects</a></li>
				<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rheeya.uppal@gmail.com">E-Mail</a></li>
	        		<li><a href="https://in.linkedin.com/in/rheeyauppaal">LinkedIN</a></li>
				<li><a href="https://github.com/Uppaal">GitHub</a></li>
				<li><p style="float:right"><i>I never lose... I either win, or I learn.</i></p></li>	
			</ul>
			</footer>
		</body>
	</html>
