<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/projects">Research and Projects</a></li>
				<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="mailto:rheeya.uppal@gmail.com"><img src="images/gmail-logo.png" height="20"></a></li>
	        		<li><a href="https://in.linkedin.com/in/rheeyauppaal"><img src="images/linkedin-logo.jpeg" height="20"></a></li>
				<li><a href="https://github.com/Uppaal"><img src="images/github-logo.png" height="20"></a></li>
				<li><a href="https://scholar.google.co.in/citations?user=nx3vmEkAAAAJ&hl=en&oi=ao"><img src="images/google-scholar-logo.png" height="20"/></a></li>
				<li style="float:right"><i>I never lose... I either win, or I learn.</i></li>	
			</ul>
			</footer>
		</body>
	</html>
